In [4]:
import pandas as pd
import requests

url = "http://127.0.0.1:8000/api/sensordata/"
data = requests.get(url).json()

df = pd.DataFrame(data)
df.head()

   id  heart_rate  temperature  spo2                   created_at  user
0  11         108         38.1    95  2026-01-06T08:40:38.395446Z     1
1  10         103         32.4    93  2026-01-06T07:11:20.089976Z     1
2   9         115         35.6    92  2026-01-06T07:10:34.827017Z     1
3   8         111         30.8    92  2026-01-06T07:09:54.594956Z     1
4   7          99         35.5    90  2026-01-06T07:09:26.979139Z     1

In [6]:
def label_row(row):
    if row['heart_rate'] > 100 or row['temperature'] > 38:
        return 1   # risk
    else:
        return 0   # normal

df['risk'] = df.apply(label_row, axis=1)
df.head()

   id  heart_rate  temperature  spo2                   created_at  user  risk
0  11         108         38.1    95  2026-01-06T08:40:38.395446Z     1     1
1  10         103         32.4    93  2026-01-06T07:11:20.089976Z     1     1
2   9         115         35.6    92  2026-01-06T07:10:34.827017Z     1     1
3   8         111         30.8    92  2026-01-06T07:09:54.594956Z     1     1
4   7          99         35.5    90  2026-01-06T07:09:26.979139Z     1     0

In [7]:
from sklearn.model_selection import train_test_split

X = df[['heart_rate', 'temperature', 'spo2']]
y = df['risk']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

X_train.head()

    heart_rate  temperature  spo2
10          72         39.8    98
2          115         35.6    92
1          103         32.4    93
8          118         39.1    92
4           99         35.5    90

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.6666666666666666
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.67      1.00      0.80         2

    accuracy                           0.67         3
   macro avg       0.33      0.50      0.40         3
weighted avg       0.44      0.67      0.53         3

c:\Users\Dell\Desktop\Health_ai_project\venv\Lib\site-packages\sklearn\metrics\_classification.py:1833: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\Dell\Desktop\Health_ai_project\venv\Lib\site-packages\sklearn\metrics\_classification.py:1833: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
c:\Users\Dell\Desktop\Health_ai_project\venv\Lib\site-packages\sklearn\metrics\_classification.py:1833: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

In [9]:
print(classification_report(y_test, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.67      1.00      0.80         2

    accuracy                           0.67         3
   macro avg       0.33      0.50      0.40         3
weighted avg       0.44      0.67      0.53         3